    a {
        color: purple;
    }

    body {
        background-color: ghostwhite;
    }

    img {
        border-radius: 25%;
        float: left;
        max-height: auto;
        max-width: 15%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #footernav {
        border-right: 0;
        border-left: 0;
        font-size: 24px;
        background-color: ghostwhite;
        padding: 1%;
        text-align: center;
        position: inherit;

    }

    footer {
        background: linear-gradient(45deg, goldenrod, palegoldenrod, paleturquoise, violet, #fcb0f5);
        border-radius: 2%;
        font-size: 24px;
        font-kerning: initial;
        padding: 1%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin: 4%;
        position: relative;

    }

    h1 {
        text-decoration: underline;
        font-variant: small-caps;
        color: black;
    }

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    nav {
        font-size: 24px;
        font-kerning: initial;
        padding: 0;
        text-align: center;
        margin: 1%;
        position: relative;
        background-color: ghostwhite;
        border-bottom: 0ch;


    }

    p {
        font-size: 1em;
        font: 15px arial, sans-serif;
    }

    th {
        font-variant: small-caps;
        background: linear-gradient(45deg, goldenrod, palegoldenrod, paleturquoise, violet, #fcb0f5);
        color: black;
        border-style: outset;
    }

    tr {
        border-style: ridge;
    }

    td {
        border-style: ridge;
    }

    ul {
        font-style: oblique;
        text-align-last: center;

    }

    #bioparagraph {
        font-style: oblique;
        padding-block: inherit;
    }

    #div1 {
        background: linear-gradient(45deg, goldenrod, palegoldenrod, paleturquoise, violet, #fcb0f5);
        font-size: 24px;
        font-kerning: initial;
        padding-bottom: 5%;
        padding-top: 2%;
        text-align: center;
        border-radius: 2%;
        margin: 4%;
        position: static;

    }

    #div2 {

        padding: 2%;
        padding-top: 2%;
        padding-bottom: 15%;
        border-radius: 2%;
        background-color: palegoldenrod;
        margin: 4%;
        position: relative;
        
    }

    #div3 {

        padding: 2%;
        border-radius: 2%;
        background-color: paleturquoise;
        margin: 4%;
        position: relative;

    }

    #mainmenu {
        border-bottom: 0ch;
        font-size: 24px;
        background: ghostwhite;
        padding: 2%;
        text-align: center;
        position: inherit;
        border-radius: 4%;


    }

    .form-submit-button {
        background: linear-gradient(45deg, goldenrod, palegoldenrod, paleturquoise, violet, #fcb0f5);
        color: ghostwhite;
        height: 40px;
        width: 80px;
        border-color: ghostwhite;
        text-shadow: 1em;
    }

    * {
        box-sizing: border-box;
    }

    .container {
        position: relative;
    }
